<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045301223191-e9p9g0i3t13pj8a2uit6hkbadq00p95d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045301223191-e9p9g0i3t13pj8a2uit6hkbadq00p95d</string>
	<key>API_KEY</key>
	<string>AIzaSyDpZXjYgXJbb46ZNMu3GBqytiHIpPpNsnw</string>
	<key>GCM_SENDER_ID</key>
	<string>1045301223191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutuland.flutter.slidy-test2</string>
	<key>PROJECT_ID</key>
	<string>slidy-test-2</string>
	<key>STORAGE_BUCKET</key>
	<string>slidy-test-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045301223191:ios:9334a95483477690c0e152</string>
	<key>DATABASE_URL</key>
	<string>https://slidy-test-2.firebaseio.com</string>
</dict>
</plist>